site_name: Hydrust Documentation
site_url: https://razorblade23.github.io/hydrust-docs/
site_description: Technical manual for the Hydrust Media Engine
repo_url: https://github.com/razorblade23/hydrust-docs
edit_uri: edit/main/docs/

theme:
  name: material
  palette:
    # Hydrust Dark Mode - High Contrast for Devs
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: orange
      accent: orange
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: deep orange
      accent: deep orange
  icon:
    logo: material/engine
  features:
    features:
      - content.action.edit
      - content.action.view
      - content.code.annotate
      - content.code.copy
      # - content.code.select
      # - content.footnote.tooltips
      # - content.tabs.link
      - content.tooltips
      # - header.autohide
      # - navigation.expand
      - navigation.footer
      - navigation.indexes
      # - navigation.instant
      # - navigation.instant.prefetch
      # - navigation.instant.progress
      # - navigation.prune
      - navigation.sections
      - navigation.tabs
      # - navigation.tabs.sticky
      - navigation.top
      - navigation.tracking
      - search.highlight
      - search.share
      - search.suggest
      - toc.follow
      # - toc.integrate

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets

nav:
  - Home: index.md
  - User Documentation: 
    - Installation: ./user/installation.md
    - Quick Start Guide: ./user/quick-start.md
  - Developer Documentation:
    - Setting up a Development Environment: ./dev/setup-dev-env.md
    - Core development: 
      - Engine Architecture: ./dev/core/engine-architecture.md
    - Plugin development:
      - Plugin System Overview: ./dev/plugin/plugin-system-overview.md
      - Creating a Plugin: ./dev/plugin/creating-plugin.md
  - Community: community.md