[project]
name = "hydrust-docs"
version = "0.1.0"
description = "Technical manual for the Hydrust Media Engine"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "mkdocs>=1.6.1",
    "mkdocs-material>=9.7.1",
    "pymdown-extensions>=10.20.1",
]
